.sidebar{
    -fx-backgroud-color: #01509F;
}
.rightpane{
    -fx-backgroud-color: #fff;
}
.buttonBackground{
    -fx-background-color:  #2196f3;
}
.txtInputBlue{
    -fx-background-color:  #0C2D48;
    -fx-text-fill:  #a0a2ab;
    -fx-border-color: #a0a2ab;
    -fx-border-style:  hidden hidden solid hidden;
}
.txtInputWhite{
    -fx-background-color:  #fff;
    -fx-text-fill:  #a0a2ab;
    -fx-border-color: #a0a2ab;
    -fx-border-style:  hidden hidden hidden hidden;
}
.textfld{
    -fx-border-color: #a0a2ab;
    -fx-border-radius: 35;
}

.parent{
    -fx-background-color: transparent;
}
.dark-panel{
    -fx-background-color: #45515F;
}
.main-btns{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #596575;
}
.icons{
    -fx-fill: #596575;
}
.main-btns:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: #F3A978;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-radius: 0px;
    -fx-text-fill: white;
}
.main-btns:hover .icons{
    -fx-fill: white;
    -fx-text-fill: white;
}